// HTML To RC
// Copyright (c) 2022 Grigore Stefan <g_stefan@yahoo.com>
// MIT License (MIT) <http://opensource.org/licenses/MIT>
// SPDX-FileCopyrightText: 2022 Grigore Stefan <g_stefan@yahoo.com>
// SPDX-License-Identifier: MIT

#include <XYO/HTMLToRC.Application/Application.rh>
#include <XYO/HTMLToRC.Application/Copyright.rh>
#include <XYO/HTMLToRC.Application/Version.rh>

XYO_APPLICATION_VERSION_INFO(XYO_HTMLTORC_APPLICATION,"html-to-rc.exe","HTMLToRC - Convert file to C/C++ source")
XYO_APPLICATION_MANIFEST("Application.manifest")
