//
// HTML to RC
//
// Copyright (c) 2020-2021 Grigore Stefan <g_stefan@yahoo.com>
// Created by Grigore Stefan <g_stefan@yahoo.com>
//
// MIT License (MIT) <http://opensource.org/licenses/MIT>
//

#include "xyo-application-version--os-windows-rc.hpp"
#include "html-to-rc-version.hpp"
#include "html-to-rc-copyright.hpp"

1  ICON "html-to-rc.ico"

XYO_APPLICATION_VERSION_INFO(HTML_TO_RC,"html-to-rc.exe","Convert HTML file/directory to RC source")
